{{#each players as |player|}}

  <ul data-id="{{player.id}}">
    <div>Id: {{player.id}}</div>
    <div>Name: {{player.name}}</div>
    <div>Team: {{player.team}}</div>
    <div>Bye: {{player.bye}}</div>
<div><button class="remove">remove</button></div>

</ul>
{{/each}}
