{{#each fantasy_players as |fantasy|}}

  <ul class="client-forms" data-id="{{fantasy.id}}">
    <div> Fantasy_Id: {{fantasy.id}} </div>
    <div> Player_Id: {{fantasy.player_id}} </div>
    <div> Name: {{fantasy.player.name}} </div>
    <div> Team: {{fantasy.player.team}} </div>
    <div> Bye: {{fantasy.player.bye}} </div>
    <div> Target: {{fantasy.target}} </div>
    <div class="delete-resource-player">
      <button type ="button" name="button" data-id="{{fantasy.id}}" class="delete">Delete</button>
    </div>
</ul>
{{/each}}
