{{#each players as |player|}}

  <ul data-id="{{player.id}}">
    <li>Id: {{player.id}}</li>
    <li>Name: {{player.name}}</li>
    <li>Team: {{player.team}}</li>
    <li>Bye: {{player.bye}}</li>
<li><button class="remove">remove</button></li>
</ul>
{{/each}}
